<h1>Integer to Currency app!</h1>

<table>
<tr class="activeRow">
  <td><%= number_to_currency(@value1, negative_format: "(%u%n)") %></td>
</tr>
<tr>
  <td><%= number_to_currency(@value2, negative_format: "(%u%n)") %></td>
</tr>
</table>
